*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url(form.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    padding-bottom: 5%;
}
form{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
.content1{
    width: 90%;
    color: white;

}
form .box{
    width: 98.5%;
    height: 2.8em;
    margin-top: 10px;
    bottom: 10px;
    border: 0;
    border-radius: 5px ;
}
.options{
    width: 98.5%;
    height: 2.7em;
    margin-top: 10px;
    bottom: 10px;
    border: 0;
    border-radius: 5px ;

}
.box,
.options select{
    width: 100%;
    height: 2.7em;
    margin-top: 10px;
    bottom: 10px;
    border: 0;
    border-radius: 5px ;
    padding: 5px;
}

button{
   
   width: 100%;
   height: 2.7rem;
   /* margin-top: 10px; */
   border: 0;
   border-radius: 10px;
   background-color: rgba(181, 206, 221, 0.324);
   font-size: 2rem;
   

}
.border:hover{
    border: 2px solid black;
}